@model STNS.Models.Photo

@{
    ViewBag.Title = "Delete";
}


<h2 style="text-align:center">هل أنت متأكدة من حذف بيانات الصورة</h2>
<div>

    <hr />
    <div class="dl-horizontal">
        <div class="row">

            <div class="col-md-10">
                @Html.DisplayFor(model => model.Album.AlbumTitle)

            </div>

            <div class="col-md-2">

                <span class="head">اسم الألبوم</span>

            </div>

        </div>

        <div class="row">
            <div class="col-md-10">
                @Html.DisplayFor(model => model.PhotoTitle)
            </div>
            <div class="col-md-2">
                <span class="head">اسم الصورة</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                @Html.DisplayFor(model => model.photoDate)
            </div>
            <div class="col-md-2">
                <span class="head">تاريخ الصورة</span>
            </div>
        </div>


        <div class="row">
            <div class="col-md-10">
                <img src="~/Files?id=@Model.UserPhoto.FileId" style="max-height:250px" ; />
            </div>
            <div class="col-md-2">
                <span class="head">الصورة</span>
            </div>
        </div>


    </div>

    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("عودة للقائمة", "Index")
        </div>
    }
</div>
