

@model STNS.Models.Blog
@{
    ViewBag.Title = "اضافة تدوينة";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>اضافة تدوينة</h2>

@using (Html.BeginForm())
{
    if (ViewBag.Message != null)
    {
        <div class="success"> @ViewBag.Message </div>
    }
    @Html.ValidationSummary()
    <div>@Html.LabelFor(t => t.Blog_Content)</div>
    <div>
        @Html.TextAreaFor(x => x.Blog_Content, new { placeholder = Html.DisplayNameFor(t => t.Blog_Content), @class = "txtarea" })
    </div>
    <div>
        <input type="submit" value="اضافة" class="btn" />
    </div>
}

<div>
    @Html.ActionLink("العودة للقائمة", "Blogs")
</div>
