@model STNS.Models.Program

@{
    ViewBag.Title = "Delete";
}

<h2 style="text-align:center">هل أنت متأكدة من حذف بيانات البرنامج</h2>


<hr />
<div class="dl-horizontal">
    <div class="row">
        <div class="col-md-10">

            @Html.DisplayFor(model => model.Program_Age_ByMonth)
        </div>

        <div class="col-md-2">
            <span class="head">العمـر بالأشهر</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">

            @Html.DisplayFor(model => model.Program_Age_ByYear)
        </div>

        <div class="col-md-2">
            العمـر بالسنة<span class="head"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Program_Name)
        </div>
        <div class="col-md-2">
            <span class="head">اسم البرنـامج</span>
        </div>

    </div><br /><br />

    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("العودة للقائمة", "Index")
        </div>
    }
</div>
