
@{
    ViewBag.Title = "ourPrograms";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    hr {
        overflow: visible;
        height: 30px;
        border-style: solid;
        border-color: black;
        border-width: 1px 0 0 0;
        border-radius: 20px;
    }
</style>

<h2 style="text-align:center">برامج روضة سنابل طيبة</h2>
<table style="width:100%;">
    <tr>
        <td><img class="img-circle" src="@Url.Content("~/Content/images/girl.jpg")" alt="Image" height="190" width="189" /></td>
        <td><h2>برنامج حضانة واحد متخصص للأطفال لما هم دون السنة</h2></td>

    </tr>
    <tr>
        <td><img class="img-circle" src="@Url.Content("~/Content/images/girl.jpg")" alt="Image" height="190" width="189" /></td>
        <td><h2>برنامج حضانة اثنين متخصص للأطفال من عمر سنة - سنتين</h2></td>
    </tr>
    <tr>
        <td><img class="img-circle" src="@Url.Content("~/Content/images/girl.jpg")" alt="Image" height="190" width="189" /></td>
        <td><h2>برنامج الحضانة التعليمية متخصص للأطفال من عمر سنتين - ثلاث سنوات</h2></td>
    </tr>
    <tr>
        <td><img class="img-circle" src="@Url.Content("~/Content/images/girl.jpg")" alt="Image" height="190" width="189" /></td>
        <td><h2>برنامج البراعم متخصص للأطفال من عمر ثلاث سنوات - أربع سنوات سنوات</h2></td>
    </tr>
    <tr>
        <td><img class="img-circle" src="@Url.Content("~/Content/images/girl.jpg")" alt="Image" height="190" width="189" /></td>
        <td><h2>برنامج الأزهار متخصص للأطفال من عمر أربع سنوات - خمس سنوات</h2></td>
    </tr>
    <tr>
        <td><img class="img-circle" src="@Url.Content("~/Content/images/girl.jpg")" alt="Image" height="190" width="189" /></td>
        <td><h2>برنامج التمهيدي متخصص للأطفال من عمر خمس سنوات - ست سنوات</h2></td>
    </tr>
</table>





<br />
<hr />

<br />
<h2 style="text-align:center">رسوم التسجيل لفصل دراسي</h2>
<br />
<div>
    <table style="text-align:center; width:100%;">
        <tr>
            <th><span class="head" style="text-align:center">الـأم</span> </th>
            <th><span class="head">الرســـوم</span></th>
            <th><span class="head">المـــدة</span></th>
        </tr>

        <tr>
            <td><h2>طالبة جامعية</h2></td>
            <td><h2>700 ريال</h2></td>
            <td><h2>فصل دراسي</h2></td>
        </tr>
        <tr>
            <td><h2>موظفــة</h2></td>
            <td><h2>1300 ريال</h2></td>
            <td><h2>فصل دراسي</h2></td>
        </tr>
    </table>
</div>